{{ $jsonPath := .Get "filepath" }}
{{ $jsonContent := os.ReadFile $jsonPath }}
{{ $json := $jsonContent | transform.Unmarshal }}

{{ range $runtime := $json.runtimes }}
    {{ if eq (len $runtime.supportedDeviceTypes) 0 }}
        {{ continue }}
    {{ end }}
    <details>
        {{ $devices := index $json.devices $runtime.identifier }}
        {{ $isBuiltIn := strings.HasPrefix $runtime.bundlePath "/Applications" }}
        {{ if $isBuiltIn }}
            <summary><strong>{{ $runtime.name }} (built-in)</strong></summary>
        {{ else }}
            <summary>{{ $runtime.name }}</summary>
        {{ end }}
        <p>Build version: <code>{{ $runtime.buildversion }}</code></p>
        <p>Devices:</p>
        <ul>
        {{ range $devices }}
            <li>{{ .name }}</li>
        {{ end }}
        </ul>
    </details>
{{ end }}
