{{ $toolName := .Get "tool" }}

<table>
    <tr>
        <th>Stack ID</th>
        <th>Default version</th>
        <th>Installed versions + aliases</th>
    </tr>
    <!-- Iterate over data files and read languages.json from each dorectory -->
    {{ range $dir := (readDir "data") }}
        {{ if hasPrefix $dir.Name "aws" }}
            {{ continue }}
        {{ end }}
        <tr>
            {{ $jsonPath := printf "data/%s/%s" $dir.Name "languages.json" }}
            {{ $jsonContent := os.ReadFile $jsonPath }}
            {{ $json := $jsonContent | transform.Unmarshal }}
            {{ $tool := index (where (index $json 0).output.items "name" $toolName) 0 }}
            {{ if $tool }}
                <td><code>{{ $dir.Name }}</code></td>
                {{ $rawVersions := split $tool.raw_output "\n" }}
                {{ $defaultVersion := "" }}
                {{ $versions := slice }}
                {{ range $version := $rawVersions }}
                    <!-- Parse and clean up ASDF's plain text output -->
                    <!-- The output is a list of version lines, with `*` marking the default version -->
                    {{ $version = trim $version " " }}
                    {{ if strings.HasPrefix $version "*" }}
                        {{ $version = strings.TrimPrefix "*" $version }}
                        {{ $defaultVersion = $version }}
                    {{ end }}
                    {{ $versions = $versions | append $version }}
                {{ end }}
                <td>{{ $defaultVersion }}</td>
                <td>
                    <ul>
                        {{ range $version := $versions }}
                            <li>{{ $version }}</li>
                        {{ end }}
                    </ul>
                </td>
            {{ end }}
        </tr>
    {{ end }}
</table>
