

body {
    --color-link: #760FC3;
    --color-visited-link: #760FC3;
    --body-font-color: #351c48;
}

.markdown pre {
    font-size: 0.8rem;
    line-height: 1.2;
}

// TODO: fix dark theme
@media (prefers-color-scheme: dark) {
    body {
        --color-link: #760FC3;
        --color-visited-link: #760FC3;
    }
}

// Align page title to logo
h2.book-brand span {
    position: relative;
    top: 2px;
}
