{{ $jsonPath := .Get "filepath" }}
{{ $json := getJSON $jsonPath }}

{{ range $deviceType, $devices := $json.devices }}
    <details>
        {{ $runtime := index (where $json.runtimes "identifier" $deviceType) 0 }}
        {{ $isBuiltIn := strings.HasPrefix $runtime.bundlePath "/Applications" }}
        {{ if $isBuiltIn }}
            <summary><strong>{{ $runtime.name }} (built-in)</strong></summary>
        {{ else }}
            <summary>{{ $runtime.name }}</summary>
        {{ end }}
        <ul>
        {{ range $devices }}
            <li>{{ .name }}</li>
        {{ end }}
        </ul>
    </details>
{{ end }}
